body{
background-color: rgb(255, 0, 0);
color: red(255, 0, 0);
font-family: "Bitcount Grid Double", system-ui;
margin: 10px;
}
header{
    border-bottom: solid 10px white;
    padding: 20px;
    font-size: 40px;
    color: black;
hit{
    font-size: 32px;
}
p{
    font-size: 20px;
}
section{
    background-color: red;
padding-bottom: 80px;
padding-top: 80px;
justify-content: center;
}

